<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Resizer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="bg-light">
<section class="py-3 py-md-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <div class="card border border-light-subtle rounded-3 shadow-sm">
                    <div class="card-body p-3 p-md-4 p-xl-5">
                        <h2 class="fs-3 fw-normal text-center mb-4">고정 사이즈 변환</h2>
                        <form method="post" enctype="multipart/form-data" action="/resize-fixed">
                            <div class="row gy-2 overflow-hidden">
                                <div class="col-12">
                                    <div class="form-group mb-3">
                                        <input type="file" class="form-control" name="image" id="image"
                                               accept=".png, .jpg, .jpeg, .webp" required
                                               onchange="previewImage(this);">
                                        <img class="my-2" style="max-width: 100%; height: auto;"/>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control" name="width" id="width" min="100"
                                               max="2048"
                                               placeholder="가로 길이" required>
                                        <label for="width" class="form-label">이미지 폭</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control" name="height" id="height" min="100"
                                               max="2048"
                                               placeholder="세로 길이" required>
                                        <label for="height" class="form-label">이미지 높이</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="d-grid my-3">
                                        <button class="btn btn-primary btn-lg" type="submit">변환하기</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <hr class="my-4"/>

            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <div class="card border border-light-subtle rounded-3 shadow-sm">
                    <div class="card-body p-3 p-md-4 p-xl-5">
                        <h2 class="fs-3 fw-normal text-center mb-4">비율 사이즈 변환</h2>
                        <form method="post" enctype="multipart/form-data" action="/resize-ratio">
                            <div class="row gy-2 overflow-hidden">
                                <div class="col-12">
                                    <div class="form-group mb-3">
                                        <input type="file" class="form-control" name="image" id="image"
                                               accept=".png, .jpg, .jpeg, .webp" required
                                               onchange="previewImage(this);">
                                        <img class="my-2" style="max-width: 100%; height: auto;"/>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="ratio" class="form-label">이미지 비율</label>
                                    <div class="form-floating mb-3">
                                        <input type="range" class="form-range" min="1" max="99" name="ratio" value="50"
                                               id="ratio" oninput="this.nextElementSibling.value = this.value"
                                               required>
                                        <output>50</output>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="d-grid my-3">
                                        <button class="btn btn-primary btn-lg" type="submit">변환하기</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <hr class="my-4"/>

            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <div class="card border border-light-subtle rounded-3 shadow-sm">
                    <div class="card-body p-3 p-md-4 p-xl-5">
                        <h2 class="fs-3 fw-normal text-center mb-4">WebP 변환</h2>
                        <form method="post" enctype="multipart/form-data" action="/convert-webp">
                            <div class="row gy-2 overflow-hidden">
                                <div class="col-12">
                                    <div class="form-group mb-3">
                                        <input type="file" class="form-control" name="image" id="image"
                                               accept=".png, .jpg, .jpeg, .webp" required
                                               onchange="previewImage(this);">
                                        <img class="my-2" style="max-width: 100%; height: auto;"/>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="d-grid my-3">
                                        <button class="btn btn-primary btn-lg" type="submit">변환하기</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <hr class="my-4"/>

            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <div class="card border border-light-subtle rounded-3 shadow-sm">
                    <div class="card-body p-3 p-md-4 p-xl-5">
                        <h2 class="fs-3 fw-normal text-center mb-4">9장 합치기</h2>
                        <form method="post" enctype="multipart/form-data" action="/combine-9">
                            <div class="row gy-2 overflow-hidden">
                                {% for i in range(9) %}
                                    <div class="col-4">
                                        <div class="form-group mb-3">
                                            <input type="file" class="form-control" name="image{{ i }}"
                                                   id="image{{ i }}" accept=".png, .jpg, .jpeg, .webp" required
                                                   onchange="previewImage(this);">
                                            <img class="my-2" style="max-width: 100%; height: auto;"/>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="col-12">
                                    <div class="d-grid my-3">
                                        <button class="btn btn-primary btn-lg" type="submit">변환하기</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <hr class="my-4"/>

            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <div class="card border border-light-subtle rounded-3 shadow-sm">
                    <div class="card-body p-3 p-md-4 p-xl-5">
                        <h2 class="fs-3 fw-normal text-center mb-4">12장 합치기</h2>
                        <form method="post" enctype="multipart/form-data" action="/combine-12">
                            <div class="row gy-2 overflow-hidden">
                                {% for i in range(12) %}
                                    <div class="col-4">
                                        <div class="form-group mb-3">
                                            <input type="file" class="form-control" name="image{{ i }}"
                                                   id="image{{ i }}" accept=".png, .jpg, .jpeg, .webp" required
                                                   onchange="previewImage(this);">
                                            <img class="my-2" style="max-width: 100%; height: auto;"/>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="col-12">
                                    <div class="d-grid my-3">
                                        <button class="btn btn-primary btn-lg" type="submit">변환하기</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <hr class="my-4"/>

            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <div class="card border border-light-subtle rounded-3 shadow-sm">
                    <div class="card-body p-3 p-md-4 p-xl-5">
                        <h2 class="fs-3 fw-normal text-center mb-4">이미지 그리드 자르기</h2>
                        <form method="post" enctype="multipart/form-data" action="/split-grid">
                            <div class="row gy-2 overflow-hidden">
                                <div class="col-12">
                                    <div class="form-group mb-3">
                                        <input type="file" class="form-control" name="image" id="image"
                                               accept=".png, .jpg, .jpeg, .webp" required
                                               onchange="previewImage(this);">
                                        <img class="my-2" style="max-width: 100%; height: auto;"/>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="count" class="form-label">자를 이미지 개수</label>
                                    <div class="form-floating mb-3">
                                        <input type="range" class="form-range" min="9" max="12" name="count" step="3"
                                               value="9"
                                               id="count" oninput="this.nextElementSibling.value = this.value"
                                               required>
                                        <output>9</output>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="d-grid my-3">
                                        <button class="btn btn-primary btn-lg" type="submit">변환하기</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function previewImage(input) {
        const imgElement = input.nextElementSibling;
        if (!imgElement || imgElement.tagName !== 'IMG') {
            return;
        }
        const file = input.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                imgElement.src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>